---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="m-0 py-0 px-4" transition:animate="morph">
  <nav
    class="flex items-center md:gap-16 justify-center flex-col md:flex-row mt-4"
  >
    <h2 class="m-0 text-lg">{SITE_TITLE}</h2>
    <div class="text-base md:text-lg">
      <HeaderLink href="/">Accueil</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
  </nav>
</header>
<style>
  nav a {
    @apply text-gray-800;
    padding: 0.5em;
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
  }
</style>
