---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="m-0 py-0 px-4" transition:animate="morph">
  <nav
    class="flex items-center md:gap-16 justify-center flex-col md:flex-row mt-4"
  >
    <h2 class="m-0 text-xl font-semibold"><a href="/">{SITE_TITLE}</a></h2>
  </nav>
</header>
